<script lang="ts">
  import { base } from "$app/paths";
import { getTag } from "./helpers";

  export let filters = {};
  export let text = "";
  export let color: string;

  $: printText = getWords(text);

  function getWords(currentText: string) {
    let updated = [] as string[]
    currentText.split(" ").forEach((word) => {
      let tag = getTag(word);
      if (tag in filters && !updated.includes(word)) {
        currentText = currentText.replace(word, `|${word}-${tag}|`);
        updated.push(word)
      }
    });
    return currentText;
  }
</script>

{#each printText.split("|") as part, key}
  {#if key % 2}
    <a
      class="px-1 italic"
      style="background: {color}"
      href="{base}/{part.split("-")[1]}"
    >
      {part.split("-")[0]}
    </a>
  {:else}
    {part}
  {/if}
{/each}
