<script lang="ts">
  import { getHue } from "./helpers";

  export let frontier: string
  const hue = getHue(frontier)
</script>

<div
  class="relative"
  style="color: hsl({hue}, 100%, 40%)">
  <article class="relative flex flex-col">
    <slot />
  </article>
</div>