<script lang="ts">
  import { page } from "$app/stores";
  import { getHue, getLighting } from "$lib/helpers";
  import { createEventDispatcher } from "svelte";
  const emit = createEventDispatcher();

  export let date: string;
  export let frontier: string;
  export let hidden = false;

  const hue = getHue(frontier);
  const lighting = getLighting(date);

  $: isActive = $page.params.hasOwnProperty('filter')
</script>

<div
  class="relative w-[2.2vh] h-[2.2vh] flex justify-center"
  style="color: hsl({hue}, 100%, {lighting}%);"
>
  <button
    class="w-full h-full bg-current transition"
    class:hidden={hidden}
    class:opacity-30={isActive}
    on:pointerenter={() => emit('over')}
    on:click={() => emit('click')} />
  <slot />
</div>
