@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .writing-up {
      writing-mode: vertical-rl;
      @apply transform rotate-180
    }
    .writing-down {
      writing-mode: vertical-rl;
      @apply transform rotate-0;
    }
    .writing-horizontal {
      writing-mode: horizontal-tb;
      @apply transform rotate-0;
    }
  }
}
