<script lang="ts">
  import { dates, getHue } from "$lib/helpers";
  import data from "$lib/future.json";
  import Frontier from "$lib/frontier.svelte";
  import Date from "$lib/date.svelte";
  import Innovation from "$lib/innovation.svelte";
  import Forecast from "$lib/forecast.svelte";

  const future = data.data
  const filters = data.filters

  let currentTile = { date: "", frontier: "", innovation: "" };

  function selectTile(
    options = { date: string, frontier: string, innovation: string }
  ) {
    currentTile = options;
  }
</script>

<main class="min-w-screen min-h-screen flex">
  <div class="flex-grow w-full flex items-center justify-center">
    {#if currentTile.frontier && currentTile.innovation && currentTile.date}
      {@const hue = getHue(currentTile.frontier)}
      <div class="w-full max-w-sm p-6">
        <h1 class="text-xl font-bold" style="color: hsl({hue}, 100%, 40%)">
          {currentTile.innovation}
        </h1>
        <h2 class="text-sm">{currentTile.frontier}</h2>
        <h3 class="text-sm text-gray-600 mb-8">{currentTile.date}</h3>
        <p>
          <Forecast
            {filters}
            color="hsl({hue}, 100%, 90%)"
            text={future[currentTile.frontier][currentTile.innovation][
              currentTile.date
            ]}
          />
        </p>
      </div>
    {/if}
  </div>
  <div class="flex-grow w-full flex items-center justify-center">
    {#each dates as date}
      <Date>
        <div class="h-20 py-2 text-gray-800 opacity-30 writing-up">
          {#if currentTile.date === date}
            {date}
          {/if}
        </div>
        {#each Object.keys(future) as frontier}
          <Frontier {frontier}>
            {#if date === "now" && currentTile.frontier === frontier}
              <h2
                class="absolute h-full left-0 transform -translate-x-full flex items-center justify-center px-3 writing-up text-center"
              >
                {frontier}
              </h2>
            {/if}
            {#each Object.keys(future[frontier]) as innovation}
              <Innovation
                {date}
                {frontier}
                hidden={future[frontier][innovation][date] === ""}
                on:over={() => selectTile({ date, frontier, innovation })}
              >
                {#if date === "beyond" && currentTile.innovation === innovation}
                  <h2
                    class="absolute top-0 right-0 h-full w-72 px-3 text-gray-800
            transform translate-x-full flex items-center opacity-30"
                  >
                    {innovation}
                  </h2>
                {/if}
              </Innovation>
            {/each}
          </Frontier>
        {/each}
        <div class="h-20" />
      </Date>
    {/each}
  </div>
</main>
